#site_header {
	padding-top: 2%;
	background: #f5f5f5;
}

#site_content {
	padding-top: 2%;
}

#site_content_form {
	padding-left: 2%;
}

#site_content_form_standard {
	font-size: 1.1em;
}

#site_content_form_standard p {
	text-indent: 1em;
}

#site_content_menu {
	border-right: 1px solid #BEBEBE;
}

.btn-submit {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}